<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="projectShowcase" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>
    <html lang="en" ng-app="projectShowcase" class="no-js lt-ie9 lt-ie8"> <![endif]-->
        <!--[if IE 8]>
        <html lang="en" ng-app="projectShowcase" class="no-js lt-ie9"> <![endif]-->
            <!--[if gt IE 8]><!-->
            <html lang="en" ng-app="projectShowcase" class="no-js"> <!--<![endif]-->
                <head>
                    <meta charset="utf-8">
                    <meta http-equiv="X-UA-Compatible" content="IE=edge">
                    <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
                    <title>游心旅行</title>
                    <meta name="description" content="">
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <link rel="stylesheet" href="http://7sbpff.com1.z0.glb.clouddn.com/css/bootstrap.min.css">
                    <link rel="stylesheet" href="http://7sbpff.com1.z0.glb.clouddn.com/css/bp.css">
                    <style>
                        .bg-banner {
                            background-image: url(http://7sbpff.com1.z0.glb.clouddn.com/images/banner/uthing.png)
                        }
                    </style>


                </head>
                <body ng-controller="panelController as panelCtrl">

                    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed fix-size" data-toggle="collapse" data-target="#nav-links">
                                <span style="color:#cfa460" >菜单</span>
                            </button>
                            <a class="navbar-brand" href="#">游心旅行</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="nav-links">
                            <ul class="nav navbar-nav">
                                <li ng-class="{active:panelCtrl.isPanelSet(1)}"><a href="#" ng-click="panelCtrl.setPanel(1)">项目概述</a>
                                </li>
                                <li ng-class="{active:panelCtrl.isPanelSet(2)}"><a href="#" ng-click="panelCtrl.setPanel(2)">商业模式</a>
                                </li>
                                <li ng-class="{active:panelCtrl.isPanelSet(3)}"><a href="#" ng-click="panelCtrl.setPanel(3)">核心团队</a>
                                </li>
                                <li ng-class="{active:panelCtrl.isPanelSet(4)}"><a href="#" ng-click="panelCtrl.setPanel(4)">发展战略</a>
                                </li>
                                <li ng-class="{active:panelCtrl.isPanelSet(5)}"><a href="#" ng-click="panelCtrl.setPanel(5)">融资计划</a>
                                </li>
                                <li ng-class="{active:panelCtrl.isPanelSet(6)}"><a href="#" ng-click="panelCtrl.setPanel(6)">投资互动</a>
                                </li>
                                <li ng-class="{active:panelCtrl.isPanelSet(7)}"><a href="#" ng-click="panelCtrl.setPanel(7)">项目点评</a>
                                </li>

                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    </nav>

                    <div ng-show="panelCtrl.isPanelSet(7)">
                        <div class="bg-banner text-heading">项目点评</div>
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-3 text-title border-right">领投人点评</div>
                                <div class="col-xs-9 text-content">
                                    <br />
                                    <p><span>领投人点评1：</span></p>
                                    <p>大家好,关于认筹我已经买好了这个产品、完成注册。对于游心提的唯一要求，因为体验是很重要的，旅行的体验是很重要的。<b>这100位众筹的人是你们品牌宣传很重要的渠道，对你们考验还是蛮大的。</b>在互联网经济时代，品牌营销、粉丝经济还是很重要的。所以我觉得，对于游心网，在这次过程中我希望看到我们认筹后客户的体验会更好。我就说这一点，谢谢大家。
                                    </p>
                                    <br/>
                                    <p><span>蒋松涛解答：</span></p>
                                    <p> 这个是肯定的。互联网有个说法：不好的产品如果加上好的营销会死的更快。所以既然我们有勇气来做这样一次众筹，面对100个来自各行各业的资深人士和有影响有代表性的人物，那我们一定是做好这个准备的。不仅是在流程、体验，还有团队培训上，都已经是有了比较好的心里准备。
                                    </p>
                                    <hr>
                                    <p><span>领投人点评2：</span></p>
                                    <p>游心从去年3月18号到现在，我看着它从零开始，做这么大，真的很高兴，为松涛同学开心。蒋松涛也是我发起创立的一个组织叫传承中国俱乐部的发起理事，但是我认识松涛的时候，他在做一个投资公司叫鼎盛天平。因为他们几个合伙人都是天秤座，正好我也是天秤座。所以鼎盛天平加上我这个天秤，很多事情有特别巨大的放大效应。这次这个众筹项目，我看到松涛从零做到去年年底完成几轮的融资。我也出席了发布会，当时我很震撼。因为我曾经服务过的机构叫做太美旅行，但是我本身没有做过本身旅行的业务，只是我们集团里面涉及到太美旅行。我一直觉得旅行这件事赚钱非常难，也特别辛苦。所以松涛在刚做游心旅行的时候我心里是有些打鼓的。我不断的告诉松涛，要当心啊，其实很不好做的。但是真的看到这些年轻人，通过不到短短的一年时间，从零做到今天，而且理念非常清晰，并且体验特别好。我和我小伙伴享受过游心的服务，我非常为松涛同学感到高兴。<b>松涛是浙江人，浙商的后代。平时他非常低调，但在商业上非常有天分。平常在传承中国俱乐部里各种大小活动里，一般不怎么发言，但一发言就语出惊人。我们经常说他语不惊人死不休。这样一个特别务实的领导者，带领一个务实的团队。</b>传承和太美的优秀人才都在游心这个平台上。今天我给松涛站站台，我想大家支持松涛不会有错的。
                                    </p>
                                    <br/>
                                    <p><span>蒋松涛解答：</span></p>
                                    <p>谢谢婷姐，在事业和情感方面都很关照，所谓的领投人不光是对项目，也是对我本人比较了解的朋友。
                                    </p>
                                    <hr>
                                    <p><span>领投人点评3：</span></p>
                                    <p>首先感谢各位关心游心旅行发展的各位旅游达人，在百忙之中抽空来到现场。在一年以前松涛创业时候征求过我的意见，我说传统旅行是个红海。从我个人来讲，我从上大学的时候就已经穷游，国内能走的地方都已经走的差不多了。工作以后就开始走海外，走海外也是背包穷游。03年在埃及认识了我的好朋友。4大文明发源地现在只有伊拉克不敢去了。<b>我的意思是从穷游到定制到自助，这是一个红海，需要有一个很好的规划，才能打动旅游达人。</b>所以在关心游心成长的同时我也很挑剔，我也要体验一下。
                                    春节的时候体验三亚，体验瑞吉酒店。第一，我认识瑞吉的人，拿的价格比他还低。第二，从入住到开房到小朋友入住礼品到电影院一路一直有个人跟随服务。他在微信上一直问我怎么样，还有没有别的需求。这个才是真正打动你的地方。即使我们会安排，但不如这样贴心。在这次众筹时候，松涛又征求我的意见。这个可能是松涛比较用心的一个产品。<b>如果旅行给我定制帮我服务帮我省钱我已经很满足了，但是没想到松涛说给我股权还保值增值。这个从另一个角度体现游心用心之处。未来这100个众筹的股东，应该用一种挑剔的眼光看待游心。不仅是享受游心的服务，你应该多提建议，让他改进，这才是真正的目的。</b>而不仅仅是我需要100个股东，100个旅行达人。真正用我们的体验帮助游心成长，才是真正关键的。所以不是说我要领投，而是说从这个项目，从松涛征求我意见开始，我希望它越成长越好，也成我们身边朋友们贴心旅行的帮手。
                                    </p>
                                    <br/>
                                    <p><span>蒋松涛解答：</span></p>
                                    <p>其实讲到贴心服务，这是我们所擅长的。酒店和机票的差别在价格方面，但服务的差别在细节上面。因为我们主推的游心旅行管家，所以我们在许多细节方面还是做的不错的。这是一个方面。如果大家能在临近生日或者特殊日子都有一些特殊纪念，包括信和贴心的小礼物，这都是能够体现出来的。<b>其实刚才也介绍，我之前一直在金融投资圈，本身也不是做旅行的，做这个事情还是有独特优势在那，就是我自己是游心的目标用户。到现在为止游心的用户体验和用户投诉都是我自己在管。</b>
                                    </p>
                                    <hr>
                                    <p><span>领投人点评4：</span></p>
                                    <p>大家晚上好，其实我这次作为游心众筹项目领投人之一，我想作为从游心服务这一切入点，跟大家分享一下我以及我周围的朋友们作为游心用户，对游心的旅行体验。从去年3月份游心建立开始，我一路见证游心的成长。从团队的组建，包括松涛每一天的心力都在游心这个项目上。因为松涛以前是做投资的，但从游心这个项目开始，我发现松涛每天都在游心的办公室出入，已经很少在他投资的那个板块。这是一个创业者的这一份责任和用心，使得整个团队执行力和凝聚力都非常的强。在这一年里，我和我的朋友境外游包括以前去日本和苏梅岛旅游，包括我朋友的婚礼包下了整个海岛都是游心安排的。游心准备了专门的地陪，旅行达人，摄影师，根据每位用户的不同需提供了非常细致的服务。所以每一个使用过游心服务的朋友都非常满意。<b>他们都到我这边说，游心还需不需要融资了，还能不能投。所以游心从零到最近这一亿美金估值只用了一年的时间，所以我很多朋友都想投游心。后来发现他们都已经投不进来了。因为他们觉得太贵了。现在我觉得这个众筹项目是个非常好的机会，可以让热爱旅行的年轻人、朋友们能够有机会参与到这个项目里来。不仅仅作为游心的用户消费者，同时作为游心的股东。</b>因为我们都知道不管做大众旅行还是中高端旅行、定制旅行都是不容易的。游心能够做起来除了是有创始人松涛一股创业精神意外，我觉得最主要是团队的力量。虽然团队人数目前来说不是特别多，但是他们为游心的每一位用户，不管是境内还是境外的用户都能够提供非常细致的体验。最近我有发现我的很多朋友，他们在不知情的情况下跟我说，他们最近在用一个在线定制旅行中高端平台。我们出去玩回来体验非常好。这个平台能帮我们订到当地非常好的餐厅，能提供当地非常好的活动，时装秀、艺术展、珠宝展、VIP的门票，叫游心旅行。我说这个网站我很早就投了，没想到现在大家都已经知道了。游心不管是宣传推广做的再好，对这个互联网企业来说最重要的是口碑。我觉得游心现在已经有了相当好的口碑了。也希望大家能够从这个项目开始继续支持游心。不管作为一个股东还是一个消费者，作为目标群体，支持游心，支持松涛。
                                    </p>
                                </div>
                            </div>
                                <div class="row border-top">
                                    <div class="col-xs-3 text-title border-right">平台点评</div>
                                    <div class="col-xs-9 text-content">

                                        <p><span>1、  关于股权，到底让利多少？<span></p>
                                                <p>游心旅行按照1亿美金的估值获得A轮融资，按照1:6.2的汇率来计算，估值为6.2亿人民币，2%的股权价值人民币1240万元。本次众筹，2%的股权价值人民币500万元，相当于6折的价格出让，因此让利程度非常高。
                                                </p>
                                                <hr>
                                                <p><span>2、  关于游心旅行基金，到底优惠多少？2015年底按照80%进行抵扣，为什么？</span></p>
                                                <a href="img/fangan.jpg">
                                                    <img target="_blank" src="img/fangan.jpg" alt="" class="img-responsive"/>
                                                </a>
                                                <br>
                                                <p>旅行基金分为7万，18万，30万三档。</p>
                                                <p>以7万元档举例，2015年通过众筹，预存了7万元，在2015年内，可以按照10万元进行消费。</p>
                                                <p>如果2015年没有消费，需要在2015年12月31日后按照80%进行折扣。</p>
                                                <p>那是不是股东就白白损失20%的基金了呢？</p>
                                                <p>不是的。</p>
                                                <p>还是以7万元档进行举例，2015年没有进行消费，7万元按照10万元计算，则2016年折扣后，是按照8万元（10万元*80%=8万元）进行计算的。
                                                </p>
                                                <p>因此股东预存的旅行基金，在2015年消费，可以享受的优惠更多，在下一年消费，优惠会有减少，但本身7万元的本金是完全没有被抵扣的。
                                                </p>
                                                <hr>
                                                <p><span>3、  众筹股东有什么特权？</span></p>
                                                <p>有的股东会想，自身今年并没有出行计划，为什么要提前预存旅行基金？
                                                首先，通过本次众筹的股东，本人做股东，但旅行基金的特权是可以由父母、自己的另一半、子女和好友来享受的。虽然自己没有时间陪伴，但可以通过游心的贴心高端服务，为父母安排一次安心的舒适旅行；也可以给夫人惊喜，奖励一次海岛放松旅行；朋友想使用您的特权，不受金额限制定制一趟旅行，回头跟您结算即可，您的金额也没有什么损失。
                                                <p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                           
                        </div>



                        <div ng-show="panelCtrl.isPanelSet(6)">

                            <div class="bg-banner text-heading">投资互动</div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-3 text-title border-right">微信群二维码</div>
                                    <div class="col-xs-9 text-content">
                                        <p>
                                        扫描下方二维码，加入游心旅行项目意向投资群
                                        </p>
                                        <a href="img/qrcode.jpg">
                                            <img target="_blank" src="img/qrcode.jpg" alt="" class="img-responsive"/>
                                        </a>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="panelCtrl.isPanelSet(5)">
                            <div class="bg-banner text-heading">融资计划</div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-3 text-title border-right">融资计划</div>
                                    <div class="col-xs-9 text-content">
                                        <p>游心旅行此轮售卖天使老股500万元人民币，估值人民币2.5亿元人民币。</p>
                                        <p>其中投资总额将分成100份进行认购，每份5万元，领投人刘志硕、杨大勇、王志国、陈婷、徐了然各自领投1份。</p>
                                    </div>
                                </div>
                                <div class="row border-top">
                                    <div class="col-xs-3 text-title border-right">领投人介绍</div>
                                    <div class="col-xs-9 text-content">
                                        <p>
                                        <span>刘志硕</span><br>知名的天使投资人，曾成功投资过拉卡拉、畅游等项目，早年曾参股搜狐、学大等二十余家公司。<br>
                                        </p>

                                        <p>
                                        刘志硕先生也是中国经济50人论坛企业家理事，首届中关村企业家咨委会委员。
                                        </p>
                                        <hr>
                                        <p>
                                        <span>杨大勇</span><br> 杨大勇先生目前担任尚诺集团董事长兼CEO，金融客咖啡轮值主席。
                                        </p>
                                        <p>
                                        专注于金融服务特别是互联网金融和大数据领域发展和投资，对文化创意、医疗健康、电子商务也有涉及。
                                        </p>
                                        <hr>
                                        <p>
                                        <span>王志国</span><br> 王志国先生目前担任长青资本董事长，辅导多家企业 IPO 获得成功：
                                        </p>
                                        <p>在鹏润集团期间，一直主导国美电器（0493 HK）上市及后期管理工作、重组中关村科技（000931 CH）；</p>
                                        <p>在海航集团期间主导西安民生（000564 CH） 和宝鸡商业（000796 CH）（现名易食股份）重组工作；</p>
                                        <p> 在长青资本，成功发行阳光私募股权投资基金，并在募资当年投资完成，当年获得部分收益，当年有项目报证监会。</p>

                                        <hr>
                                        <p>
                                        <span>陈婷</span><br> 资深媒体人，商业媒体主流化的年轻推动者之一，现任太美集团执行总裁、太美传媒CEO。
                                        </p>

                                        <p>此前供职于中国经济时报、中国企业家杂志社、经济观察报、环球企业家杂志社等著名媒体，成功组织、策划、实施过“中国企业领袖年会”、“观察家年会”等著名会议品牌。</p>
                                        <hr>

                                        <p>
                                        <span>徐了然</span><br> 天使投资人。徐了然先生毕业于美国南加州大学，曾就职于中银国际（香港）投资银行部。目前专注于投资领域，先后在TMT行业培育了一系列的早期项目。
                                        </p>



                                    </div>
                                </div>
                                <div class="row border-top">
                                    <div class="col-xs-3 text-title border-right">融资结构</div>
                                    <div class="col-xs-9 text-content">
                                        <p>
                                        <span>估值:</span><br/>
                                        计划众筹募资500万元人民币，出让公司老股2%，估值2.5亿元人民币。
                                        </p>

                                        <p>
                                        <span>领投人:</span><br/>
                                        刘志硕，领投人民币5万元，占0.02%股权。<br>
                                        杨大勇，领投人民币5万元，占0.02%股权。<br>
                                        王志国，领投人民币5万元，占0.02%股权。<br>
                                        陈婷，领投人民币5万元，占0.02%股权。<br>
                                        徐了然，领投人民币5万元，占0.02%股权。<br>
                                        蝌蚪众筹线上募资100份，5万元/份，合计持有公司2%股权。<br>
                                        </p>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div ng-show="panelCtrl.isPanelSet(4)">

                            <div class="bg-banner text-heading">发展战略</div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-3 text-title border-right">战略阐述</div>
                                    <div class="col-xs-9 text-content">
                                        <a target="_blank" href="img/strategy.jpg">
                                            <img src="img/strategy.jpg" alt="" class="img-responsive"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="row border-top">
                                    <div class="col-xs-3 text-title border-right">产品众筹方案</div>
                                    <div class="col-xs-9 text-content">
                                        <p>
                                        <span>每一位投资人支付5万元人民币投资款+自选一档预存旅行基金，将获得：</span><br>
                                        </p>
                                        <ul>
                                            <li> 公司0.02%的股份(按2.5亿元人民币估值，不参与A轮后期权池的稀释)； </li>
                                            <li> 游心旅行股东专属定制礼品； </li>
                                            <li> 专属游心VIP客户热线服务； </li>
                                            <li> 游心股东专属银行联名信用卡；</li>
                                            <li> 无金额限制的定制旅行（游心平台定制旅游均15万起）；</li>
                                            <li> 一年分享一次游心平台出游的感受、心得等，并由某NGO评选游心奖一名；</li>
                                            <li> 股东推荐客户，每次消费额的2%作为奖励充值到股东账户，且被推荐客户获得等额U币，在下次消费时抵现使用。</li>
                                        </ul>
                                        <p>

                                        <a target="_blank" href="img/flow.jpg" target="_blank">
                                            <img src="img/flow.jpg" alt="" class="img-responsive"/>
                                        </a>
                                        <span>供投资人自选的预存旅行基金方案如下：</span><br>
                                        </p>
                                        <table class="table table-bordered table-hover table-striped">
                                            <tr>
                                                <th colspan="4" style="text-align:center;">旅行基金方案</th>

                                            </tr>

                                            <tr>
                                                <td>旅行基金预存</td>
                                                <td>折扣</td>
                                                <td>赠送额度</td>
                                                <td>实际消费额度</td>
                                            </tr>
                                            <tr>
                                                <td>&yen;70,000</td>
                                                <td>30%</td>
                                                <td>&yen;30,000</td>
                                                <td>&yen;100,000</td>
                                            </tr>
                                            <tr>
                                                <td>&yen;180,000</td>
                                                <td>33%</td>
                                                <td>&yen;90,000</td>
                                                <td>&yen;270,000</td>
                                            </tr>
                                            <tr>
                                                <td>&yen;300,000</td>
                                                <td>40%</td>
                                                <td>&yen;200,000</td>
                                                <td>&yen;500,000</td>
                                            </tr>
                                        </table>
                                        <p>备注：<br>
                                        1、若截止到2015年12月31日未经使用实际消费额度需*80%进行核算<br>
                                        2、若截止到2016年12月31日未经使用实际消费额度与预存金额等值<br>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div ng-show="panelCtrl.isPanelSet(3)">

                            <div class="bg-banner text-heading">核心团队</div>
                            <div class="container">
                                <div class="row broder-top">
                                    <div class="col-xs-3 text-title border-right">团队简历</div>
                                    <div class="col-xs-9 text-content">
                                        <div class="row people">
                                            <div class="col-xs-4 no-padding-right">
                                                <img src="img/jst.png?v=1" alt="" class="img-responsive"/>
                                            </div>
                                            <div class="col-xs-8">
                                                <h4>蒋松涛</h4>
                                                <small> | CEO</small>
                                            </div>
                                        </div>
                                        <p> 全面负责公司的战略、运营管理以及后期融资 </p>

                                        <p> 北京鼎晟天平投资有限公司董事长、主管合伙人 </p>
                                        <p> 天使投资人；传承中国创始理事、董事 </p>
                                        <p> 曾供职于北京安永华明会计师事务所全球金融服务部和中诚信托有限责任公司 </p>

                                        <div class="row people">
                                            <div class="col-xs-4 no-padding-right">
                                            </div>
                                            <div class="col-xs-8">
                                                <h4>张汐铭</h4>
                                                <small>联合创始人 | 副总经理</small>
                                            </div>
                                        </div>
                                        <p> 全面负责游心移动事业的规划及目的地产品整合</p>
                                        <p> 中国和平国旅高端部总经理</p>
                                        <p> 班敦旅行机构副总裁</p>
                                        <p> 英国德馨英治理咨询顾问有限公司合伙人（商学院海外游学）</p>

                                        <div class="row people">
                                            <div class="col-xs-4 no-padding-right">
                                            </div>
                                            <div class="col-xs-8">
                                                <h4>赵乐</h4>
                                                <small> | 副总经理</small>
                                            </div>
                                        </div>
                                        <p>  全面负责高端定制产品</p>
                                        <p>  曾任职携程太美国际旅行社商旅及定制业务中心副总经理</p>
                                        <p>  曾代表港中旅国际投资公司持股成立芒果网，并任港中旅国际滤芯社公民旅游总部销售副总监</p>

                                        <div class="row people">
                                            <div class="col-xs-4 no-padding-right">
                                            </div>
                                            <div class="col-xs-8">
                                                <h4>邢强</h4>
                                                <small> | 副总经理</small>
                                            </div>
                                        </div>
                                        <p> 全面负责游心旅行产品设计及推广</p>
                                        <p> TM trip太美旅行创始团队，太美环球梦想秘书长，太美携程并购项目经理</p>
                                        <p> 鸿鹄逸游HH travel核心人物，奔驰旅行项目经理</p>
                                        <p> 中国出境旅行跨界整合知名人士</p>
                                        <div class="row people">
                                            <div class="col-xs-4 no-padding-right">
                                            </div>
                                            <div class="col-xs-8">
                                                <h4>刘慧</h4>
                                                <small> | 副总经理</small>
                                            </div>
                                        </div>
                                        <p>  负责游心旅行品牌塑造及外部品牌合作、市场营销及开拓媒体关系、PR等业务</p>
                                        <p>  曾任职腾讯媒介关系总监；视觉中国集团（已上市）华南/华中区总经理</p>
                                        <p>  十几年从事互联网行业跨界合作、推广的经验，对跨界资源的整合、使用有独到见解</p>
                                        <div class="row people">
                                            <div class="col-xs-4 no-padding-right">
                                            </div>
                                            <div class="col-xs-8">
                                                <h4>Aymeric Naudin </h4>
                                                <small> 酒店事业部 | COO </small>
                                            </div>
                                        </div>
                                        <p> 全面负责酒店OTA</p>
                                        <p> 赞那度酒店关系总监</p>
                                        <p> IKEA贸易供应链规划开发</p>
                                        <p> 法籍，精通六种语言，IAE企业管理硕士、康考迪亚大学经济学硕士、清华中国文化学习</p>
                                        <div class="row people">
                                            <div class="col-xs-4 no-padding-right">
                                            </div>
                                            <div class="col-xs-8">
                                                <h4>吴佳恒</h4>
                                                <small> | 首席技术官</small>
                                            </div>
                                        </div>
                                        <p> 十年互联网技术从业经验，有架构日UV50-100万、PV千万级的网站工作经验</p>
                                        <p> 原早教网技术总监，穷游网技术主管，曾就职于51CTO、北信源</p>
                                        <p> 对网站攻防有丰富经验，有高负载高并发网站技术架构经验，关注开源技术，专注于LANMP架构的开发和优化</p>
                                        <div class="row people">
                                            <div class="col-xs-4 no-padding-right">
                                            </div>
                                            <div class="col-xs-8">
                                                <h4>韩晋</h4>
                                                <small> | 产品总监</small>
                                            </div>
                                        </div>
                                        <p>  15年互联网从业经历，其中7年和高端旅行相结合，积累丰富的产品、市场和运营的经验</p>
                                        <p>  旅行从业经历包含太美旅行网络运营中心总经理、鸿鹄逸游营销总监、完美假期运营总监</p>
                                        <p>  历任买麦网联合创始人及项目总监；九州梦网运营事业部总监；中关村在线联合创始人</p>
                                        <div class="row people">
                                            <div class="col-xs-4 no-padding-right">
                                            </div>
                                            <div class="col-xs-8">
                                                <h4>孙一鑫</h4>
                                                <small> | 市场总监</small>
                                            </div>
                                        </div>
                                        <p> 负责游心旅行市场策略、品牌塑造及媒体深度合作、PR等业务</p>
                                        <p> 曾任瑞丽集团高级公关经理；清华美院时尚艺术在线平台项目总监</p>
                                        <p> 八年时尚行业市场从业，跨界合作、推广的经验</p>
                                        <div class="row people">
                                            <div class="col-xs-4 no-padding-right">
                                            </div>
                                            <div class="col-xs-8">
                                                <h4>倪甜甜</h4>
                                                <small> | 品牌总监</small>
                                            </div>
                                        </div>
                                        <p> 负责游心旅行品牌塑造，品牌合作</p>
                                        <p> 曾任职赞那度精品旅行网；4A广告公司 </p>
                                        <p> 学在高端互联网旅行行业有丰富的品牌推广经验</p>

                                        <div class="row people">
                                            <div class="col-xs-4 no-padding-right">
                                            </div>
                                            <div class="col-xs-8">
                                                <h4>张远昭</h4>
                                                <small> | 运营主管</small>
                                            </div>
                                        </div>
                                        <p> 负责游心Web、Mob运营与推广</p>
                                        <p> 曾任卡巴斯基互动运营经理，灵狐科技互动运营总监、战略总监等职务 </p>
                                        <p> 灵狐科技互动营销创始人，微信营销顾问，专注互联网十余年，擅长数字整合营销、互动营销、电子商务投放转化等领域</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div ng-show="panelCtrl.isPanelSet(2)">

                            <div class="bg-banner text-heading">商业模式</div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-3 text-title border-right">业务介绍</div>
                                    <div class="col-xs-9 text-content">
                                        <p>
                                        <span>产品范围</span>
                                        <a target="_blank" href="img/field.jpg" target="_blank">
                                            <img src="img/field.jpg" alt="" class="img-responsive"/>
                                        </a>
                                        </p>
                                        <p>
                                        <span>用户及痛点</span>
                                        </p>
                                        <p>
                                        <span>A. </span>
                                        25岁—50岁，有网络或旅行消费习惯的用户，女性占大多数，多数为时尚、媒体、设计、文化、艺术从业者、企业主、高级白领、投资人、海归。主要分布城市：北京、上海、广州、深圳等一线城市，某些消费能力较强的二线城市。 
                                        </p>

                                        <p>
                                        <span>B. </span>
                                        市场上充斥着价格战自由行产品，以及高客单价的定制产品，信息不对称，选择少。
                                        </p>

                                        <p>
                                        <span>C. </span>
                                        中小定制旅行公司的效率慢、规模化难点（发展瓶颈）、营销成本高、沟通低效。
                                        </p>


                                    </div>
                                </div>
                                <div class="row border-top">
                                    <div class="col-xs-3 text-title border-right">运营情况</div>
                                    <div class="col-xs-9 text-content">
                                        <p>
                                        2014年5月，游心旅行网站正式上线运营。运营5个月，累计完成旅游收入2,000-3,000万元，品牌赞助300万元，盈利300-400万元。
                                        </p>




                                    </div> 
                                </div>
                                <div class="row border-top">
                                    <div class="col-xs-3 text-title border-right">市场现状</div>
                                    <div class="col-xs-9 text-content">
                                        <a href="img/situation.png">
                                            <img target="_blank" src="img/situation.png" alt="" class="img-responsive"/>
                                        </a>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-3 text-title border-right">竞争对手</div>
                                    <div class="col-xs-9 text-content">
                                        <a target="_blank" href="img/rival.jpg">
                                            <img src="img/rival.jpg" alt="" class="img-responsive"/>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div ng-show="panelCtrl.isPanelSet(1)">

                            <div class="bg-banner text-heading">项目概述</div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-3 text-title border-right">公司名称</div>
                                    <div class="col-xs-9 text-content">
                                        游心旅行
                                        <p>
                                        为中高端用户提供品质旅行服务的互联网平台。
                                        </p>
                                    </div>
                                </div>
                                <div class="row border-top">
                                    <div class="col-xs-3 text-title border-right">商业模式</div>
                                    <div class="col-xs-9 text-content">游心旅行作为精品旅行O2O&amp;C2C平台，着眼于将传统旅行元素、新兴元素、达人特色元素等以轻量化的方式进行互联网整合，让旅行更随心、更独特，着重满足用户的个性化需求。</div>
                                </div>
                                <div class="row border-top">
                                    <div class="col-xs-3 text-title border-right">核心团队</div>
                                    <div class="col-xs-9 text-content">游心旅行由最成熟、有才华和最具热情的创业者们组成。</div>
                                </div>
                                <div class="row border-top">
                                    <div class="col-xs-3 text-title border-right">融资计划</div>
                                    <div class="col-xs-9 text-content">
                                        计划通过众筹100位热爱旅游、追求生活品质的投资人众筹融资500万元人民币获得公司2%股份（不参与A轮后期权池的稀释）。<br>
                                        <br>
                                        <br>
                                        <p>
                                        <span>领投人：</span>
                                        <hr style="margin-top: 0;">
                                        <span>刘志硕   &nbsp; &nbsp; &nbsp; 领投5万元，占0.02%股权</span><br>
                                        知名的天使投资人，曾成功投资过拉卡拉、畅游等项目，早年曾参股搜狐、学大等二十余家公司。
                                        刘志硕先生也是中国经济50人论坛企业家理事，首届中关村企业家咨委会委员。<br>
                                        <br>
                                        <span>杨大勇  &nbsp; &nbsp; &nbsp;  领投5万元，占0.02%股权</span>
                                        <br>                              
                                        杨大勇先生目前担任尚诺集团董事长兼CEO，金融客咖啡轮值主席。
                                        专注于金融服务特别是互联网金融和大数据领域发展和投资，对文化创意、医疗健康、电子商务也有涉及。<br>
                                        <br>
                                        <span>王志国  &nbsp; &nbsp; &nbsp;  领投5万元，占0.02%股权</span>
                                        <br>
                                        王志国先生目前担任长青资本董事长，辅导多家企业 IPO 获得成功：<br>
                                        在鹏润集团期间，一直主导国美电器（0493 HK） 上市及后期管理工作、重组中关村科技（000931 CH）；<br>
                                        在海航集团期间主导西安民生（000564 CH）和宝鸡商业（000796 CH）（现名易食股份）重组工作；<br>
                                        在长青资本，成功发行阳光私募股权投资基金，并在募资当年投资完成，当年获得部分收益，当年有项目报证监会。<br>
                                        <br><br>
                                        <span>陈婷  &nbsp; &nbsp; &nbsp;  领投5万元，占0.02%股权</span>
                                        <br>
                                        资深媒体人，商业媒体主流化的年轻推动者之一，现任太美集团执行总裁、太美传媒CEO。<br>
                                        此前供职于中国经济时报、中国企业家杂志社、经济观察报、环球企业家杂志社等著名媒体，成功组织、策划、实施过“中国企业领袖年会”、“观察家年会”等著名会议品牌。 
                                        <br><br>
                                        <span>徐了然  &nbsp; &nbsp; &nbsp;  领投5万元，占0.02%股权</span>
                                        <br>
                                        天使投资人。徐了然先生毕业于美国南加州大学，曾就职于中银国际（香港）投资银行部。目前专注于投资领域，先后在TMT行业培育了一系列的早期项目。
                                        <br>
                                        <hr>
                                        </p>
                                        <p>
                                        <span>跟投人:</span>
                                        蝌蚪众筹线上募资100份，每份5万元人民币，合计获得公司2%股权，第一期开放30份。 
                                        </p>
                                        <p>
                                        <span>每一位投资人支付5万元人民币投资款 + 自选一档预存旅行基金，将获得：</span>
                                        <ul>
                                            <li> 公司0.02%的股份(按2.5亿元人民币投后估值,不参与A轮后期权池的稀释)； </li>
                                            <li> 游心旅行股东专属定制礼品；</li>
                                            <li> 专属游心VIP客户热线服务；</li>
                                            <li> 游心股东专属银行联名信用卡；</li>
                                            <li> 无金额限制的定制旅行（游心平台定制旅游均15万起）；</li>
                                            <li> 一年分享一次游心平台出游的感受、心得等，并由某NGO评选游心奖一名；</li>
                                            <li> 股东推荐客户,每次消费额的2%作为奖励充值到股东账户,且被推荐客户获得等额U币 在下次消费时抵现使用。 </li>
                                        </ul>
                                        </p>


                                        <a target="_blank" href="img/flow.jpg" target="_blank">
                                            <img src="img/flow.jpg" alt="" class="img-responsive"/>
                                        </a>

                                    </div>
                                </div>

                                <div class="row border-top">
                                    <div class="col-xs-3 text-title border-right">投资亮点</div>
                                    <div class="col-xs-9 text-content">
                                        <p>
                                        <span>A. </span>
                                        定位市场增长潜力巨大的在线旅游市场。中国4,000亿元左右的在线旅游市场，40.4%的出境游增长率，旅游市场空间巨大；游心旅行以目的地服务体验的业务模式，结合国内外优质独特的资源，如国际知名家族企业、英国皇家资源、国际知名酒庄、知名的汽车俱乐部资源等，打造专属的精品旅行产品，如游心故事、Mr.U全球精选、闪购、游心会。
                                        </p>

                                        <p>
                                        <span>B. </span>
                                        获得知名投资机构背书。2014年8月，完成由鼎晖创投领投、著名投资人跟投的数百万美金Pre-A轮融资，估值2,000万美元。2014年12月，公司获得估值1亿美元的A轮融资。投资方为韩投伙伴（Korea Investment Partners, 简称KIP）、美林控股和清华紫光顺风投资 。
                                        </p>

                                        <p>
                                        <span>C. </span>
                                        丰富的行业资源。游心旅行并购了高端在线旅游服务平台五星汇，并已同太美慧谷、寺库、CN.BLESS签订战略合作协议。
                                        </p>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--[if lt IE 7]>
                        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
                            your browser</a> to improve your experience.</p>
                        <![endif]-->


                        <script src="http://7sbpff.com1.z0.glb.clouddn.com/js/jquery.min.js"></script>
                        <script src="http://7sbpff.com1.z0.glb.clouddn.com/js/bootstrap.min.js"></script>
                        <script src="http://7sbpff.com1.z0.glb.clouddn.com/js/angular.min.js"></script>
                        <script src="http://7sbpff.com1.z0.glb.clouddn.com/js/bp.js"></script>
                    </body>
                </html>
